
		body {
			font-family: Arial, sans-serif;
			text-align: center;
			margin-top: 50px;
			background-color: rgb(3, 7, 76);
		}
		.calculator {
			display: inline-block;
			padding: 20px;
			border: 1px solid  rgb(3, 7, 76);
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
			background-color: rgba(12, 17, 112, 0.5);
		}
		
		input[type="text"] {
			width: 80%;
			padding: 20px;
			margin:  10px auto 20px auto;
			font-size: 18px;
			text-align: right;
			box-shadow: 0 0 10px rgba(162, 149, 149, 0.1);
			border-radius: 10px;
			border: 1px solid #ccc;
			background-color: rgba(255, 255, 255, 0.8);
		}
		button {
			width: 28%;
			padding: 10px;
			margin: 1%;
			font-size: 18px;
			cursor: pointer;
			border-radius: 50px;
		}
		button.operator {
			background-color: #f0ad4e;
			color: white;
		}
		button.equals {
			background-color: #5cb85c;
			color: white;
			width: 30%;
		}
		button.clear {
			background-color: #d9534f;
			color: white;
			width: 48%;
		}
